<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      name="add-circle-outline"
      slot="start"
      size="large"
      class="ion-margin-start">
    </ion-icon>
    <ion-title>
      Tambah Mata Kuliah
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Mata Kuliah" placeholder="isikan nama mata kuliah"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Jam" placeholder="isikan jam kuliah"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Dosen" placeholder="isikan dosen pengampu"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="primary">Simpan</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
